nav {
  width: 100vw;
  height: 40px;
  background-color: rgb(36, 36, 36);
}

.navContainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navBox {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1000px) {
    display: none;
  }
}

.navBox:hover {
  opacity: 0.7;
  scale: 1.1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navBox h2 {
  font-size: 12px;
  color: white;
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

mat-icon {
  color: white;
  cursor: pointer;
}

mat-icon:hover {
  background-color: rgb(66, 66, 66);
  border-radius: 10px;

}

.iconLeft {
  margin-left: auto;
  display: none;

  @media (max-width: 1000px) {
    display: block;
  }
}

.iconRight {
  margin-right: auto;
}
