<app-navbar (asideToggled)="handleAsideToggle($event)"></app-navbar>
<main>
  <aside *ngIf="isAsideOpen">
  <div>
    <h2>Compare Countries</h2>
    <mat-form-field matTooltip="Select countries to compare their data" >
      <mat-label>Select country</mat-label>
      <mat-select name="countries" id="countries" [(ngModel)]="countryToAdd">
        <mat-option *ngFor="let country of countriesLoop" [value]="country">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button (click)="addCountry()" matTooltip="Add selected country to data comparison" >Add</button>
  </div>

  <div>
    <h2>Select data</h2>
    <mat-form-field matTooltip="Select countries to compare their data">
      <mat-label>Data type</mat-label>
      <mat-select [(ngModel)]="selectedDataType">
        <mat-option value="confirmed">Confirmed</mat-option>
        <mat-option value="deaths">Deaths</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</aside>
  <section>
    <mat-card appearance="outlined">
      <mat-card-content>
        <app-table-component [selectedCountries]="selectedCountries"></app-table-component>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" *ngIf="selectedCountries.length > 0" class="topMargin20">
      <mat-tab-group>
            <mat-tab label="Bar chart">
              <app-vertical-bar-chart [compareCountries]="selectedCountries" [displayMode]="'compare'" [dataType]="selectedDataType"></app-vertical-bar-chart>
            </mat-tab>
          <mat-tab label="Area chart">
           <app-stacked-area-chart [compareCountries]="selectedCountries" [displayMode]="'compare'" [dataType]="selectedDataType"></app-stacked-area-chart>
          </mat-tab>

      </mat-tab-group>
    </mat-card>
  </section>
</main>
<div class="bg-img">

</div>
