<main>
  <aside>
    <div class="asideTitleBox">
      <h1>Compare Countries</h1>
    </div>
    <label for="countries">Choose countries:</label>
    <select name="countries" id="countries" [(ngModel)]="countryToAdd">
      <option *ngFor="let country of countries" [ngValue]="country">
        {{country.name}}
      </option>
    </select>
    <button (click)="addCountry()">Add</button>
    <h2 *ngIf="selectedCountries.length">Selected countries:</h2>
    <ul>
      <li *ngFor="let country of selectedCountries">{{ country.name }}</li>
    </ul>
    <div>
      <div class="inputRow">
        <label class="container">
          <input checked="checked" type="checkbox" name="verticalBarChart" [(ngModel)]="showVerticalBarChart">
          <div class="checkmark"></div>
        </label>
        <label for="verticalBarChart"><p>Vertical bar chart</p></label>
      </div>
      <div class="inputRow">
        <label class="container">
          <input checked="checked" type="checkbox" name="stackedAreaChart" [(ngModel)]="showStackedAreaChart">
          <div class="checkmark"></div>
        </label>
        <label for="stackedAreaChart"><p>Stacked area chart</p></label>
      </div>
    </div>
  </aside>
  <section>
    <div *ngIf="showVerticalBarChart">
      <app-vertical-bar-chart [compareCountries]="selectedCountries" [displayMode]="'compare'"></app-vertical-bar-chart>
    </div>
    <div *ngIf="showStackedAreaChart">
      <app-stacked-area-chart [compareCountries]="selectedCountries" [displayMode]="'compare'"></app-stacked-area-chart>
    </div>
    <div class="basicDataContainer">
      <div *ngFor="let country of selectedCountries" class="selectedCountryClass">
        <h2>{{country.name}}</h2>
        <h3>{{country.confirmed}}</h3>
        <h3>{{country.deaths}}</h3>
      </div>
    </div>
  </section>
</main>
