body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-y: auto; /* Enable vertical scrolling */
  z-index: 1; /* Ensure content is above the background */
}

main::before {
  content: '';
  position: fixed; /* Fix the background image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/earth_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1; /* Ensure the background is behind the content */
}

aside {
  display: flex;
  /* justify-content: center; */

  flex-direction: column;

  padding: 20px;
  width: 20%;
  height: auto;


}
.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  width: 94%;
  font-size: 17px;

  border: 2px solid black;
  border-radius: 10px;

  padding: 6px;
}

button {
  color: black !important;
  border-color: black !important;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;

  width: 80%;
}

.basicDataContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.selectedCountryClass {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  border-radius: 25px;
  justify-content: center;
  align-items:center;
  gap: 50px;
}

.divContainer {
  width: 80%;
  height: 100vh;
}



mat-card {
  max-width: 100%;
  /* min-height: 40%; */

}

.topMargin20 {
  margin-top: 20px;
  margin-bottom: 100px;
}
