th {
  padding: 0 0px;
  text-align: center;

  @media (max-width: 1000px) {
    padding: 0 15px;
  }
}

td {
  padding: 0 0px;
  text-align: center;

  @media (max-width: 1000px) {
    padding: 0 15px;
  }
}



