main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 20%;

  box-shadow: 5px 5px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
}
