.flexRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
  width: 100%;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

aside {
  display: flex;
  background-color: #fefcff;

  flex-direction: column;

  padding-top: 24px;
  padding-left: 24px;
  padding-right: 12px;
  width: 20%;
  position: sticky;
  top: 0;
  height: 98vh;

  border-right: rgba(156, 168, 183, 0.55) 2px solid;

  @media (max-width: 1000px) {
    display: block;
  }
}


section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 12px;
  padding-bottom: 24px;

  width: 80%;

  @media (max-width: 1000px) {
    width: 92%;
    padding: 0px;
    margin: auto;
  }
}

.countryTitleBox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 95%;

  background-color: bisque;
  border-radius: 10px;

}

.halfBox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45%;

  background-color: bisque;
  border-radius: 10px;
}

.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  width: 96%;
  font-size: 17px;

  border: 2px solid black;
  border-radius: 10px;

  padding: 6px;
}

.dataContainer {
  width: 100%;
}

mat-card {
  width: 100%;
  height: auto;
}

.marginTop {
  margin-top: 28px;
}

.marginTopPhone {
  @media (max-width: 1000px) {
    margin-top: 28px;
  }
}

.marginBot {
  margin-bottom: 28px;
}

.paddingBox {
  padding: 28px;
}

mat-card-header {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-tab {
  width: 80%;
}


.provinceContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
  width: 100%;

  @media (max-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.provinceBox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 75px;
  margin-top: 25px;

  box-shadow: 10px 10px 5px lightblue;
  border-radius: 10px;
}

.noCountrySelectedSection {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;

  font-size: 40px;
  color: rgba(105, 104, 132, 0.354);

  @media (max-width: 1000px) {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
  }
}

.phoneHeader {
  display: none;


  @media (max-width: 1000px) {
    display: block;
  }
}

.textRed {
  color: rgb(239, 80, 80);
}

.textGreen {
  color: rgb(31, 172, 31);
}

.textYellow {
  color: rgb(178, 178, 24);
}

.textBlue {
  color: rgb(51, 130, 209);
}
