<main>
  <mat-card class="phoneHeader">
    <mat-card-content>
      <div class="flexRow">
      <mat-form-field>
        <mat-label>Choose country</mat-label>
        <mat-select name="countries" id="countries" [(ngModel)]="selectedCountry" (selectionChange)="getSingleCountry()" matTooltip="Select a country to display its data">
          <mat-option *ngFor="let country of countries" [value]="country">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-homebutton />
    </div>
    </mat-card-content>
  </mat-card>

  <aside>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          <h1>Filter your data</h1>
        </mat-card-title>
        <mat-card-actions>
          <app-homebutton />
        </mat-card-actions>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Choose country</mat-label>
          <mat-select name="countries" id="countries" [(ngModel)]="selectedCountry" (selectionChange)="getSingleCountry()" matTooltip="Select a country to display its data">
            <mat-option *ngFor="let country of countries" [value]="country">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="selectedCountry">

          <mat-form-field appearance="fill" matTooltip="Select a specific date see data until that day">
            <mat-label>Select a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="getSingleCountryWithDate()">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>
      </mat-card-content>
    </mat-card>

  </aside>

  <div *ngIf="!selectedCountry" class="noCountrySelectedSection">
    <h2>Select a country to begin</h2>
  </div>

  <section *ngIf="singleCountry">
    <mat-card appearance="outlined" class="paddingBox">
      <h1>{{selectedCountry.name}} data:</h1>
      <div class="example-button-row">
        <button mat-stroked-button (click)="getProvincesFromCountry()" matTooltip="Display {{selectedCountry.name}}'s provinces">Provinces</button>
        <button mat-stroked-button (click)="navigateToCompare()" matTooltip="Compare {{selectedCountry.name}}'s data with other countries">Compare</button>
      </div>
    </mat-card>
    <div class="dataContainer" *ngIf="singleCountry.confirmed > 0">
      <div class="flexRow ">
          <mat-card appearance="outlined" class="paddingBox marginTop">
          <div>Confirmed cases:</div>
          <h2>{{ singleCountry.confirmed }}</h2>
        </mat-card>
        <mat-card appearance="outlined" class="paddingBox marginTop">
          <div>Confirmed deaths:</div>
          <h2>{{ singleCountry.deaths }}</h2>
        </mat-card>
        <mat-card appearance="outlined" class="paddingBox marginTop">
          <div>Fatality rate:</div>
          <h2>{{ singleCountry.fatality_rate * 100 | number: '1.2-2' }}%</h2>
        </mat-card>
      </div>
    </div>
    <div *ngIf="!singleCountry.confirmed">
      <h2>No data available for {{ selectedCountry.name }}</h2>
    </div>

    <mat-card appearance="outlined" class="paddingBox marginTop marginBot">
      <mat-tab-group>
        <mat-tab label="Bar chart">
          <app-vertical-bar-chart [selectedCountry]="selectedCountry" [selectedDate]="selectedDate" [displayMode]="'dashboard'"></app-vertical-bar-chart>
        </mat-tab>
        <mat-tab label="Area chart">
          <app-stacked-area-chart [selectedCountry]="selectedCountry" [selectedDate]="selectedDate" [displayMode]="'dashboard'"></app-stacked-area-chart>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <div class="provinceContainer">
      <div *ngFor="let province of provincesFromCountry">
        <span *ngIf="province; else noProvince">
          <mat-card appearance="outlined" class="paddingBox">
            {{ province.province }}
          </mat-card>
        </span>
        <ng-template #noProvince>
          <span><p>No province data available for this country</p></span>
        </ng-template>
      </div>
    </div>
  </section>
</main>

